<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="page-title">RentZen - Liste des Biens</title>
    <link rel="stylesheet" href="../../src/styles/style.css">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
</head>
<body>

<div class="container">
    <h1>MainTitle</h1>

    <div id="agent-actions" class="actions-barAgent" style="display: none;">
    <button id="btnCreerAgent" class="btnAgent" disabled>Créer un état des lieux</button>
    <button id="btnModifierAgent" class="btnAgent" disabled>Modifier un état des lieux</button>
    <button id="btnValiderAgent" class="btnAgent" disabled>Valider un état des lieux</button>
</div>

    <div id="bailleur-actions" class="actions-barBailleur" style="display: none;">
        <button id="btnAddPropertyBailleur" class="btnBailleur">Ajouter une propriété</button>
        <button id="btnModPropertyBailleur" class="btnBailleur" disabled>Modifier une propriété</button>
        <button id="btnDelPropertyBailleur" class="btnBailleur" disabled>Supprimer une propriété</button>
        <button id="btnCheckPropertyBailleur" class="btnBailleur" disabled>Consulter une propriété</button>
    </div>

    <div id="admin-actions" class="actions-bar" style="display: none;">
        <button id="btnTemp" class="btn temp">test</button>
    </div>

    <hr>
    <h2>SubTitle</h2>

    <table id="propertyTable" class="styled-table">
        <thead>
        <tr>
            <th>Nom du bien</th>
            <th>Adresse</th>
            <th>Loyer</th>
        </tr>
        </thead>
        <tbody id="propertyListBody">
        <tr>
            <td colspan="3">Chargement des biens...</td>
        </tr>
        </tbody>
    </table>

    <p id="message" class="message-box"></p>
</div>

<script type="module" src="../ts/js/view/PropertyListView.js"></script>
</body>
</html>